body{
    margin: 0;
    font-family: sans-serif;
}
header{

    background-color: #575757;
    color: #f0ffff;
    width: 100%;
    top: 0;
    position: fixed;
    padding: 10px 0;
    z-index: 1000;
}
nav{
    display: flex;
    justify-content:center;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 80%;
}
nav li {
    margin: 0 10px;
}
nav li a{
    color: azure;
    text-decoration: none;
}
.firstpage{
    display: flex;
    margin-top:60px;
    height: 100vh;
    width: 100%;
}
.left{
    background-color: #1e242b;
    width: 65%;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.right{
    background-color: #2ad87f;
    width: 35%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: right;
}
.left h2, .left p{
    line-height: 40px;
}
.web-develop{
    align-items: center;
    margin: auto;
    padding: 10px 20px;
}
.web-develop img{
    height: 350px;
    width: 300px;
}
.main{
    text-align: center;
}
.main h1,
.main h4, .main .button{
    margin: 10px 0;
}
.main h2 i{
    z-index: 1000;
    color: #e0e0e0;
    display: block;
    font-size: 3rem;
    margin-right:10px ;
}
.main i{
    z-index: 1000;
    display:block;
    margin: 0 auto 20px;
    font-size: 3rem;
    color: #e0e0e0;
}
.about-me{
    padding: 80px 20px 20px 20px ;
    background-color: #e0e0e0;
}
.content-container{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
}
.svg-container{
    margin-top: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
}
img{
    color: #1e242b;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.description h2{
    margin-top:0;
}
.description p{
    margin:0;
}
.Projects{
    padding: 30px 0;
    background-color: #1e242b;
    text-align: center;
    color: #fff;
}
.project-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;

}
.project-box{
    background-color: #2ad87f;
    border: 1px solid #ddd;
    padding: 20px;
    width: calc(33.33% - 40px);
    margin: 10px;
    text-align: left;
    transition: transform 0.3s ease;
}
.project-box :hover{
    transform: translateY(-5px);
}
.project-box h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.project-box p{
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}
.view-btn{
    display:flex;
    align-items: center;
    padding: 5px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.view-btn i{
    margin-left: 8px;
}
.view-btn :hover{
    background-color: #197e4a;
}
.skills{
    padding: 50px 20px;
    text-align: center;
    background-color: #e0e0e0;
}
.skills h2{
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
}
.skill-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.skill-box{
    background-color: #fff;
    color: #333;
    padding: 30px;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}
.skill-box :hover{
    transform: translateY(-10px);
}
.skill-box i{
    display:block;
    margin: 0 auto 20px;
    font-size: 3rem;
    color: #1e242b;
}
.skill-box h3{
    font-size: 1.5rem;
    margin: 10px;
    font-weight: bold;
}
@media (max-width: 768px){
    .skill-box{
        width: calc(50%-40px);
    }
}
.contact-me{
    
    padding: 80px 20px;
    text-align: center;
    background-color: #1e242b;
    color: #2ad87f;
}
.contact-me h2{
    font-size: 2.5rem;
    margin-bottom: 40px;
}
.title{
    max-width: 800px;
    margin: 0 auto;
}
.contact-container{
    margin-bottom: 30px;
}
.contact-container h5{
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.contact-info{
    
    display: grid;
    gap: 20px;
    text-align: left;
}
.form-group label{
    
    display: block;
    margin-bottom: 5px;
}
.form-group input,textarea{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}
.form-group textarea{
    box-sizing: border-box;
    resize: vertical;
}
button[type="submit"]{
    padding: 10px 20px;
    color: #fff;
    background-color: #2ad87f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}
button[type="submit"]:hover{
    background-color: #197e4a;
}